header {
    background-color: grey; /*changes the background to grey for header element*/
    padding: 5px; /*adjusts the total height of header element*/
    margin: 10px; /*adjusts the space around the element*/
}
p {
    background-color: rgb(194, 137, 247); /*Changes background to purple for p element*/
    border: 2px solid rgb(250, 133, 0); /*adds border to p element solid color orange*/
    margin-right: 500px; /*Sets the max width of the p element to 500px*/
}